body {
  background-color: #282c34;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.area {
  width: 80vw;
}

.side {
  color: white;
  padding-top: 10vh;
  background-color: #282c34;
  height: 90vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.App header {
  background-color: #282c34;
  height: 10vh;
  color: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color:#EE6C4D;
}

.messageMain {
  padding: 10px;
  height: 76vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.channelForm {
  height: 3vh;
  width: 10%;
  display: flex;
  font-size: 1rem;
  padding-left: 3vw;
}

.messageForm {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: #282c34;
}


.messageInput {
  line-height: 1.5;
  width: 60%;
  font-size: 1.5rem;
  background: #282c34;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.channelInput {
  line-height: 1.5;
  background: #282c34;
  width: 100px;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.channelButton {
  background-color: #282c34;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.messageButton {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: #EE6C4D;
  max-width: 400px;
  height: 750px;
  margin: 0 auto;
  border: none;
  border-radius: 20px 20px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
}

.sign-out {
  color: white;
  background-color: #282c34;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  background-color: #282c34;
}

.sent {
  flex-direction: row-reverse;
}

.message {
  display: flex;
  align-items: center;
}

.channel {
  height: 15px;
  cursor: pointer;
}

.current {
  color: aqua;
  font-size: larger;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  margin: 2px 5px;
}

.hide {
  display: none;
}